body{
    text-align: left;
    width: 100vw;
    background-color: rgb(7, 70, 112);
    padding: 0;
    margin: 0;

}

#domo h1{
    margin: 0;
    position:relative;
    padding-top: 25px;
}

#domo {
    width: auto;
}

header{
    text-align: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(190, 183, 183);
    margin: 0;
}

header img{
    margin: 10px 10px 10px 10px;
    
}

#imageHamburger {
    float: left;
    width: 12.5%;
    margin-left: 0px;
    padding-left: 15px;
    top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    }

#logo_P{
    float: right;
    scale: 20vh;
    padding-top: 20px;
    padding-top: 10px;
}

nav{
    height: 100vh;
    display: none;
    width: 50%;
    position: absolute;
    z-index: 10;
}

nav div{
    margin: 40px 15px 50px 15px;
}

#nav {
    background-color: rgb(255, 166, 0, 0.85);
    text-align: center;
}

.nav p,#meteo span,#meteo p{
    font-size: 25px;
    margin-top: 30px;
}


.infometeo {
    display: block;
    text-align:left;
    margin-left: 20px;
    font-size: 10px;
}

.nav:hover, #meteo:hover{
    background-color: rgba(128, 128, 128, 0.783) ;
    transition-duration: 0.1s;
    padding-bottom: 1px;
    padding-top: 1px;
    box-shadow: 15px 15px 25px black;
    border-radius: 5px;
}

section{
    height: 75vh;
    width: 100%;
    font-size: 22px;
}

#txt_nav {
    text-align: center;
}

footer{
    height: 15vh;
    width: 100%;
    position: fixed;
    initial-value: 0;
    background-color: rgb(190, 183, 183);
    text-align: center;
}


.infometeo{
    display: none;
}


#croix {
    width: 35px;
    height: 10%;
    float: left;
    display: block;
    align-items: center;
    margin-left: 30px;
}

.nav:hover #croix{
    margin: 25px 0px 0px 20px;
}

#maison {
    width: 45px;
    float: left;
    display: block;
    margin-left: 20px;
}

.nav:hover #maison{
    margin: 15px 0px 0px 20px;
}

#ampoule {
    width: 45px;
    float: left;
    display: flex;
    margin-left: 20px;
}

.nav:hover #ampoule{
    margin: 15px 0px 0px 20px;    
}

#prise{
    width: 42.5px;
    display: block;
    float: left;
    margin-left: 25px;

}

.nav:hover #prise{
    margin: 20px 0px 0px 25px;    
 
}


#capteur{
    width: 42.5px;
    display: block;
    float: left;
    margin-left: 25px;
}

.nav:hover #capteur{
    margin: 20px 0px 0px 25px;    
 
}

#plan{
    width: 42.5px;
    display: block;
    float: left;
    margin-left: 25px;
}

.nav:hover #plan{
    margin: 20px 0px 0px 25px;    
 
}